{% extends "base.html" %}

{% block content %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
        <a href="/message/{{current_user_id}}">
            Написать сообщение
        </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {% for item in news %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-dark" role="alert">
            <h2>{{item[1]}}</h2>
            <p class="text-justify">{{item[2]}}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}